@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   height: 100vh;

   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

#root {
   height: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
   scrollbar-width: auto;
   scrollbar-color: #343a40 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 4px;
}

*::-webkit-scrollbar-track {
   background: #f8f9fa00;
}

*::-webkit-scrollbar-thumb {
   background-color: #343a40;
   border-radius: 8px;
   border: 2px solid #f8f9fa00;
}
